        @font-face {
            src: url("../fonts/HelveticaNeueCyr.otf") format("truetype");
            font-family: "HelveticaNeueCyr";
            font-style: normal;
            font-weight: normal;
        }
        
        $main-color:#4E254F;
        $accent-color:#9ACCC2;
        body {
            margin: 0px;
            scroll-behavior: smooth;
            height: 100%;
        }
        
        .container {
            font-family: "HelveticaNeueCyr";
            background: url("../img/first_background.png") no-repeat center center fixed;
            background-position: center;
            overflow: hidden;
        }
        
        .sub {
            top: 0;
            background: #F7F8FC;
            height: 96px;
            width: 468px;
            position: absolute;
            z-index: 50;
        }
        
        .fixed-container {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1000;
        }
        
        .header {
            top: 0;
            height: 96px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 80px;
            background: #fff;
            z-index: 50;
            &__logotype {
                z-index: 80;
                svg {
                    fill: $main-color;
                    width: 125px;
                    height: 48px;
                    cursor: pointer;
                }
            }
            &__language {
                display: flex;
                gap: 24px;
                margin-right: auto;
                margin-left: 55px;
                z-index: 80;
                a {
                    text-decoration: none;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: $main-color;
                    opacity: 25%;
                }
                a:hover {
                    opacity: 100%;
                }
                .active-ln {
                    opacity: 100%;
                }
            }
            &__menu {
                cursor: pointer;
                margin-left: auto;
            }
        }
        
        .menu {
            display: none;
            position: absolute;
            overflow-x: hidden;
            z-index: 40;
            background: #fff;
            width: 100%;
            height: 100%;
            svg {
                padding-top: 96px;
                width: 1920px;
                height: 1px;
                stroke: #F7F8FC;
            }
            &__item {
                display: flex;
                flex-direction: column;
                padding-left: 180px;
                padding-top: 120px;
                gap: 32px;
                position: relative;
                a {
                    text-decoration: none;
                    color: $main-color;
                    opacity: 25%;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 40px;
                }
                a:hover {
                    opacity: 100%;
                }
                a:active {
                    color: $accent-color;
                    opacity: 100%;
                }
            }
            .copyright-c {
                position: absolute;
                bottom: 20px;
                .copyright {
                    padding-left: 180px;
                    font-size: 12px;
                    line-height: 16px;
                    text-decoration: none;
                    color: #A792A7;
                }
                .svitsoft {
                    color: #ED4156;
                    text-decoration: none;
                    font-size: 12px;
                }
                .svitsoft:hover {
                    color: #FF4D62;
                }
            }
        }
        
        .bottom-container {
            display: flex;
            align-items: center;
            .arrows {
                display: flex;
                margin-left: 180px;
                cursor: pointer;
                stroke: #fff;
                fill: none;
                .arrow-button.active svg {
                    fill: $accent-color;
                    stroke: none;
                }
            }
        }
        
        .content {
            &__button {
                max-width: 261px;
                margin: 96px 180px 0px auto;
                padding-top: 232px;
                span {
                    z-index: 99;
                }
                svg {
                    z-index: 99;
                }
            }
            &__information {
                display: flex;
                width: 752px;
                height: 352px;
                flex-direction: column;
                gap: 32px;
                padding-top: 80px;
                padding-left: 40px;
                margin-left: 180px;
                background: $accent-color;
                color: $main-color;
                h1 {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 60px;
                    line-height: 72px;
                    color: $main-color;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    margin: 0px;
                }
                p {
                    margin: 0px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: $main-color;
                    width: 647px;
                }
            }
            &__sale {
                display: flex;
                margin-left: 664px;
                max-width: 948px;
                align-items: center;
                &__pages {
                    padding-left: 56px;
                    padding-top: 56px;
                    display: flex;
                    gap: 14px;
                }
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    opacity: 0.25;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 24px;
                }
                a.active,
                a:hover {
                    color: $accent-color;
                    opacity: 100%;
                }
                h3 {
                    margin: 0px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    color: $accent-color;
                    padding-left: 56px;
                    padding-top: 24px
                }
                p {
                    margin: 0px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: $accent-color;
                    opacity: 0.75;
                    max-width: 450px;
                    padding-left: 56px;
                    padding-top: 16px
                }
                .container-inf {
                    background: url("../img/sub2.svg") no-repeat;
                    z-index: 20;
                    height: 256px;
                    width: 610px;
                    margin-right: -82px;
                }
                svg {
                    fill: $main-color;
                }
                &__picture {
                    width: 420px;
                    height: 256px;
                    background: url("../img/first_sale_image.png");
                    z-index: auto;
                }
            }
        }
        
        .main-button {
            display: flex;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            color: #fff;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            padding: 0px 32px;
            stroke: #fff;
            background: none transparent;
            background-color: $main-color;
            transform: translateZ(0);
            transition: background-color .6s cubic-bezier(.075, .82, .165, 1), color .6s cubic-bezier(.075, .82, .165, 1);
        }
        
        .main-button:hover {
            color: $main-color;
            stroke: $main-color;
        }
        
        .main-button:before {
            background-color: $accent-color;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transition: transform .6s cubic-bezier(.075, .82, .165, 1);
            transform-origin: center right;
        }
        
        .main-button:hover:before {
            transform: scaleX(1);
            transform-origin: center left;
        }
        
        .close-icon {
            display: none;
        }
        
        .menu-icon {
            display: block;
        }