@font-face {
  src: url("../fonts/HelveticaNeueCyr.otf") format("truetype");
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: normal; }

body {
  margin: 0px;
  scroll-behavior: smooth;
  height: 100%; }

.container {
  font-family: "HelveticaNeueCyr";
  background: url("..img/first_background.png") no-repeat center center fixed;
  background-position: center;
  overflow: hidden; }

.sub {
  top: 0;
  background: #F7F8FC;
  height: 96px;
  width: 468px;
  position: absolute;
  z-index: 50; }

.fixed-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000; }

.header {
  top: 0;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  background: #fff;
  z-index: 50; }
  .header__logotype {
    z-index: 80; }
    .header__logotype svg {
      fill: #4E254F;
      width: 125px;
      height: 48px;
      cursor: pointer; }
  .header__language {
    display: flex;
    gap: 24px;
    margin-right: auto;
    margin-left: 55px;
    z-index: 80; }
    .header__language a {
      text-decoration: none;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #4E254F;
      opacity: 25%; }
    .header__language a:hover {
      opacity: 100%; }
    .header__language .active-ln {
      opacity: 100%; }
  .header__menu {
    cursor: pointer;
    margin-left: auto; }

.menu {
  display: none;
  position: absolute;
  overflow-x: hidden;
  z-index: 40;
  background: #fff;
  width: 100%;
  height: 100%; }
  .menu svg {
    padding-top: 96px;
    width: 1920px;
    height: 1px;
    stroke: #F7F8FC; }
  .menu__item {
    display: flex;
    flex-direction: column;
    padding-left: 180px;
    padding-top: 120px;
    gap: 32px;
    position: relative; }
    .menu__item a {
      text-decoration: none;
      color: #4E254F;
      opacity: 25%;
      font-weight: normal;
      font-size: 30px;
      line-height: 40px; }
    .menu__item a:hover {
      opacity: 100%; }
    .menu__item a:active {
      color: #9ACCC2;
      opacity: 100%; }
  .menu .copyright-c {
    position: absolute;
    bottom: 20px; }
    .menu .copyright-c .copyright {
      padding-left: 180px;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: #A792A7; }
    .menu .copyright-c .svitsoft {
      color: #ED4156;
      text-decoration: none;
      font-size: 12px; }
    .menu .copyright-c .svitsoft:hover {
      color: #FF4D62; }

.bottom-container {
  display: flex;
  align-items: center; }
  .bottom-container .arrows {
    display: flex;
    margin-left: 180px;
    cursor: pointer;
    stroke: #fff;
    fill: none; }
    .bottom-container .arrows .arrow-button.active svg {
      fill: #9ACCC2;
      stroke: none; }

.content__button {
  max-width: 261px;
  margin: 96px 180px 0px auto;
  padding-top: 232px; }
  .content__button span {
    z-index: 99; }
  .content__button svg {
    z-index: 99; }

.content__information {
  display: flex;
  width: 752px;
  height: 352px;
  flex-direction: column;
  gap: 32px;
  padding-top: 80px;
  padding-left: 40px;
  margin-left: 180px;
  background: #9ACCC2;
  color: #4E254F; }
  .content__information h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    color: #4E254F;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0px; }
  .content__information p {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4E254F;
    width: 647px; }

.content__sale {
  display: flex;
  margin-left: 664px;
  max-width: 948px;
  align-items: center; }
  .content__sale__pages {
    padding-left: 56px;
    padding-top: 56px;
    display: flex;
    gap: 14px; }
  .content__sale a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.25;
    font-style: normal;
    font-size: 16px;
    line-height: 24px; }
  .content__sale a.active,
  .content__sale a:hover {
    color: #9ACCC2;
    opacity: 100%; }
  .content__sale h3 {
    margin: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #9ACCC2;
    padding-left: 56px;
    padding-top: 24px; }
  .content__sale p {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #9ACCC2;
    opacity: 0.75;
    max-width: 450px;
    padding-left: 56px;
    padding-top: 16px; }
  .content__sale .container-inf {
    background: url("..img/sub2.svg") no-repeat;
    z-index: 20;
    height: 256px;
    width: 610px;
    margin-right: -82px; }
  .content__sale svg {
    fill: #4E254F; }
  .content__sale__picture {
    width: 420px;
    height: 256px;
    background: url("../img/first_sale_image.png");
    z-index: auto; }

.main-button {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 32px;
  stroke: #fff;
  background: none transparent;
  background-color: #4E254F;
  transform: translateZ(0);
  transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1); }

.main-button:hover {
  color: #4E254F;
  stroke: #4E254F; }

.main-button:before {
  background-color: #9ACCC2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center right; }

.main-button:hover:before {
  transform: scaleX(1);
  transform-origin: center left; }

.close-icon {
  display: none; }

.menu-icon {
  display: block; }

.content__button-mobile {
  display: none; }

@media screen and (max-width: 768px) {
  .sub {
    height: 117px;
    width: 166px; }
  .header {
    height: 117px;
    padding: 0px 32px; }
    .header__language {
      display: none; }
  .content__button {
    margin: 117px 32px 0px auto;
    padding-top: 305px; }
  .content__information {
    width: 357px;
    height: 286px;
    gap: 24px;
    padding-top: 56px;
    padding-left: 24px;
    margin-left: 33px; }
    .content__information h1 {
      font-weight: 900;
      font-size: 42px;
      line-height: 130%; }
    .content__information p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      width: 333px; }
  .content .arrows {
    display: flex;
    margin-left: 32px; }
  .content__sale {
    margin-left: 254px;
    max-width: 354px;
    align-items: center; }
    .content__sale__pages {
      padding-left: 32px;
      padding-top: 24px;
      display: flex;
      gap: 14px; }
    .content__sale a {
      text-decoration: none;
      color: #FFFFFF;
      opacity: 0.25;
      font-style: normal;
      font-size: 16px;
      line-height: 24px; }
    .content__sale a.active,
    .content__sale a:hover {
      color: #9ACCC2;
      opacity: 100%; }
    .content__sale h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      color: #9ACCC2;
      padding-left: 32px;
      padding-top: 12px; }
    .content__sale p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #9ACCC2;
      opacity: 0.75;
      max-width: 290px;
      padding-left: 32px;
      padding-top: 8px; }
    .content__sale .container-inf {
      background: url("../img/sub2.svg") no-repeat;
      z-index: 20;
      height: 196px;
      width: 354px;
      margin-right: -82px; }
    .content__sale svg {
      fill: #4E254F; }
    .content__sale__picture {
      display: none; } }

@media screen and (max-width: 375px) {
  .container {
    height: 812px; }
  .sub {
    height: 74px;
    width: 99px; }
  .header {
    height: 74px;
    padding: 0px 24px; }
    .header__logotype {
      z-index: 80; }
      .header__logotype svg {
        width: 100px;
        height: 40px; }
    .header__language {
      display: none; }
  .content {
    display: flex;
    flex-direction: column; }
    .content__button-mobile {
      display: flex;
      order: 1;
      margin: 15px 24px 87px 24px; }
    .content__button {
      display: none; }
    .content .main-button {
      height: 48px;
      width: 327px;
      padding: 0px;
      justify-content: center; }
      .content .main-button span {
        padding-left: 99px; }
      .content .main-button .main-button-icons {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: auto;
        padding-right: 20px; }
    .content__information {
      order: 1;
      width: 311px;
      height: 214px;
      gap: 8px;
      padding-left: 16px;
      padding-top: 32px;
      margin-left: 24px; }
      .content__information h1 {
        font-weight: 900;
        font-size: 30px;
        line-height: 130%; }
      .content__information p {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        width: 295px;
        height: 96px; }
    .content .arrows {
      display: none; }
    .content__sale {
      margin-top: 162px;
      margin-left: 24px;
      max-width: 311px;
      align-items: center; }
      .content__sale__pages {
        padding-left: 16px;
        padding-top: 24px;
        display: flex;
        gap: 18px;
        max-width: 118px; }
      .content__sale a {
        text-decoration: none;
        color: #FFFFFF;
        opacity: 0.25;
        font-style: normal;
        font-size: 16px;
        line-height: 24px; }
      .content__sale a.active,
      .content__sale a:hover {
        color: #9ACCC2;
        opacity: 100%; }
      .content__sale h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #9ACCC2;
        padding-left: 16px;
        padding-top: 6px; }
      .content__sale p {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #9ACCC2;
        opacity: 0.75;
        max-width: 295px;
        padding-left: 16px;
        padding-top: 6px; }
      .content__sale .container-inf {
        background: url("..img/sub2.svg") no-repeat;
        z-index: 20;
        height: 180px;
        width: 327px;
        margin-right: -82px; }
      .content__sale svg {
        fill: #4E254F; }
      .content__sale__picture {
        display: none; } }
